<section class="hero is-large brands" style="background-color: #FDFDFE !important">
  

  <div class="hero-head">
    

    <div class="container" style="padding: 50px 0 100px 0">

		<div class="columns">
			<div class="column has-text-centered">
				 <h1 class="title is-text-centered" style="padding-bottom: 25px;">Some of the brands we've worked with</h1>
			</div>
		</div>

		<div class="columns is-vcentered" style="justify-content: center;">
				<div class="column is-2  has-text-centered">
						<img src="assets/jpeg/brands/asus.png" alt="">
				</div>
				<div class="column is-2 has-text-centered ">
						<img src="assets/jpeg/brands/cazador.png" alt="">
				</div>
				<div class="column is-2 has-text-centered">
						<img src="assets/jpeg/brands/skd.png" alt="">
				</div>
				<div class="column is-2 has-text-centered">
						<img src="assets/jpeg/brands/ykredi.png" alt="">
				</div>
				<div class="column is-2 has-text-centered">
						<img src="assets/jpeg/brands/25film.png" alt="">
				</div>
				
		</div>

		<div class="columns is-vcentered" style="justify-content: center;">
				<div class="column is-2  has-text-centered">
						<img src="assets/jpeg/brands/tskb.png" alt="">
				</div>
				<div class="column is-2 has-text-centered ">
						<img src="assets/jpeg/brands/saltbodrum.png" alt="">
				</div>
				<div class="column is-2 has-text-centered">
						<img src="assets/jpeg/brands/turesta.png" alt="">
				</div>
				<div class="column is-2 has-text-centered">
						<img src="assets/jpeg/brands/tmm.png" alt="">
				</div>
				<div class="column is-2 has-text-centered">
						<img src="assets/jpeg/brands/yorstruly.png" alt="">
				</div>
		</div>
			


		</div>

    
    </div>



</section>