<div class="container is-fluid menu-container" style="z-index: 3">
    
    <div class="column is-half is-offset-one-quarter has-text-centered logo-main">
        <div class="logo_sprite" >

        <a href="{{site.baseurl}}/" id="logo_sprite_svg">
        
        </a>
    </div>
    <!-- logo -->
    


    <div id="hamburgerMenu" >
 
    </div>
    <!-- Hamburger menu -->
    </div>

</div>

<div class="menu-main columns is-centered" style="z-index: 2">  
    <nav class="main-nav column is-12 ">
        <ul>
            <li><a href="/" data-linkname="homepage"  >Home</a></li>
            <li><a href="/projects" data-linkname="projects">Projects</a></li>
            <li><a href="/studio" data-linkname="studio">Studio</a></li>
            <li><a href="/contact" data-linkname="contact">Contact</a></li>
        </ul>
    </nav> <!-- End of Nav -->

    <div class="main-navi-footer columns is-12">
        <div class="main-navi-footer-mail column is-one-quarter"><a href="mailto:hello@wearebando.com" target="_blank">hello@wearebando.com</a></div>
            
        <div class="main-navi-footer-social column">
            <ul>
                <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
                <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                <li><a href="https://linkedin.com" target="_blank">LinkedIn</a></li>
            </ul>
        </div>

        <div class="main-navi-footer-copy column is-one-quarter">
            <span>Copyright 2016-2017</span>
        </div>
    </div>

</div>


<!-- main loader -->

<!-- <div class="container main-loader is-fluid is-gapless" style="position: absolute; left:0; top: 0; width: 100vw; height: 5px;z-index: 999; margin: 0; background-color: rebeccapurple ">
</div> -->


<!-- main loader -->