<!-- STICKY FOOTER BEGINS -->

<div class="push" style="width: 100vw;   background-color: #212121;
z-index: -1; position: relative;"></div>



<footer class="container is-fluid sticky-footer" style="visibility: hidden; margin: 0 !important; z-index: 0">

	<div class="container" style="padding-top: 70px;">
			

		<div class="columns">
			
				<div class="column has-text-centered">
				
					<ol>
						<li><img width="40" src="{{ site.baseurl}}/assets/svg/bando_amblem.svg"></li>
						<li><p class="small-font">TALENT. PASSION. CURIOSITY</p></li>
					</ol>
				</div>
		</div>

		<!-- footer logo -->





     <div class="container sticky-footer-bottom">

		<div class="columns">
			
			<div class="column">
				<h1 class="footer-h1">Address</h1>
				<address>
					<p>Esentepe Mah. Talatpaşa Cad. No:5 Daire:47 Levent / İstanbul</p>
				</address>
			</div>	
			<div class="column">
				<h1 class="footer-h1">Telephone</h1>
				<a href="">+90 (0212) 924 24 10</a>
			</div>
			<div class="column">
				<h1 class="footer-h1">E-Mail</h1>
				<a href="">hello@wearebando.com</a>
				<a href="">meet@wearebando.com</a>
			</div>
			<div class="column">
				<h1 class="footer-h1">Social Media</h1>
				<ol>
					<li style="display: inline; padding-right: 5px;" ><a href="https://www.instagram.com/weare_bando/" target="_blank"><img style="" src="{{ site.baseurl}}/assets/svg/instagram.svg" width="15"></a></li>
					<li  style="display: inline; padding-right: 5px;"><a href="https://www.instagram.com/weare_bando/" target="_blank"><img style="" src="{{ site.baseurl}}/assets/svg/linkedin.svg" width="15"></a></li>
					<li  style="display: inline;"><a href="https://www.instagram.com/weare_bando/" target="_blank"><img style="" src="{{ site.baseurl}}/assets/svg/facebook.svg" width="15"></a></li>
				</ol>
			</div>
		</div>


	  	<div class="columns sticky-footer-nav">
			<div class="column is-8">
				<nav class="footer-social-media">
				<ul lang="en">
				<li><a href="{{ site.baseurl}}/">HOME PAGE</a></li>
				<li><a href="{{ site.baseurl}}/projects">PROJECTS</a></li>
				<li><a href="{{ site.baseurl}}/studio">STUDIO</a></li>
				<li><a href="{{ site.baseurl}}/career">CAREER</a></li>
				</ul>
				</nav>
			</div>
			<div class="column is-4">
				<div class="goback-project" style="padding-right: 10px; text-align: right;">
					<a href="#" class="scrollTopClick"><p><img style="margin-right: 10px;vertical-align: -1px;" src="{{ site.baseurl}}/assets/svg/up.svg" width="15">SCROOL TO <span style="color: #A59A6C !important;text-decoration: underline !important ;">TOP</span></p></a>
				</div>


			</div>
	  	</div>	
	</div>
	<!-- sticky footer bottom -->




	</div>





</footer>


<!-- STICKY FOOTER ENDS -->
